* 
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: inherit
  font-size: inherit
  line-height: inherit
  font-family: 'Roboto', sans-serif
  font-size: 16px

// * 
// //   border: 1px solid red
// Click able right side navigation
.clickable-div
    display: flex
    justify-content: flex-end
    margin-right: 30px
    margin-top: 20px
    cursor: pointer

// header of popup modal
.header 
    width: 100%
    padding-top: 1.5rem
    padding-bottom: 1rem
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.11)

.header-content
    padding-left: 2rem  

.header-content.p 
    font-weight: 500
    font-size: 1rem
    line-height: 1,1rem
    padding-bottom: 0.2rem

.header-content.h1
    font-weight: 300
    font-size: 2rem
    line-height: 2.1rem


.image
    width: 50px
    border-radius: 40px

.text-container
    display: flex
    align-items: center
    margin-left: 1vw
  

.image-container
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer

.button 
    background: white
    padding: 1em

.button.close-modal
    cursor: pointer

.button-popUp
    width: 200px
    height: 50px
    background: none
    border-radius: 20px

.button-container
    display: flex
    align-items: flex-end
    justify-content: flex-end

// setting variable for tab style
@mixin tab-style 
    display: flex   
    flex: 0 0 auto
    align-items: center
    padding-left: 1rem
    margin-bottom: 1rem
    width: 100%
    min-height: 3.2rem 
    font-size: 0.9rem
    font-weight: 500
    color: #262626
    letter-spacing: 0.04em
    background-color: #f6f6f6
    border-radius: 2px
    box-sizing: border-box
    cursor: pointer
    
#setting 
    @include tab-style

#contact-info 
    @include tab-style

#dateAndTime
    @include tab-style

#twoFactorAuthentication
    @include tab-style

.tab-content-container
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 65%

.modal 
    width: 45%
    height: 65vh
    border-radius: 10px
    opacity: 0
    margin: auto
    overflow: hidden
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15)
    border: 0px 

// a bit reponsive
@media only screen and (max-width: 900px) 
    .modal 
        width: 90%
        overflow-y: scroll

    .tab-content-container
        width: 90%

    .tab-content
        flex-wrap: wrap


    .tab-content
        justify-content: center

    .button-line
        top: 0%


    .tab-content-container
        margin: auto

    .tab-container
        margin: auto
        padding: auto

    .first-name-input
        height: 2.5rem

    .last-name-input
        height: 2.5rem

    .emailInput
        height: 2.5rem


// Add ease in animation for modal 
// By select open atribute when the modal is open
@keyframes fade-in
    0%
        opacity: 0
    100%
        opacity: 1

.modal[open] 
  animation: fade-in 500ms forwards




.tab-container
    display: inline-block
    width: 30%  

.tab-content
    display: flex
    gap: 2em
    font-size: 0.8em
    font-weight: 500
    width: 100%
    margin-bottom: 4.4rem


.image-menu
    width: 5rem
    border-radius: 8vw

.input-container
    display: flex
    flex-direction: column
    gap: 1vw
    width: 100%

.title-text
    font-weight: 500
    font-size: 0.9rem
    line-height: 1rem
    letter-spacing: 0.04em
    color: #262626

.firstAndLastNameInput
    display: flex
    flex-wrap: wrap
    gap: 1rem

.first-name-input
    width: 100%

.last-name-input
    width: 100%

.first-name-container
    flex: 1
    max-width: 100%

.last-name-container
    flex: 1
    max-width: 100%

#setting-content
    display: flex
    padding: 2rem
    justify-content: space-between
    width: 100%
    padding-top: 2vw
    flex-wrap: wrap

// make input style variable
@mixin input-style
    padding-top: 0.5vw
    padding-bottom: 0.5vw
    padding-left: 7px
    box-sizing: border-box
    border: 1px solid #C1C1C1
    border-radius: 2px
    font-size: 1rem

.first-name-input
    @include input-style

.last-name-input
    @include input-style

.emailInput
    width: 100%
    padding: 0
    margin: 0
    @include input-style

// style close button
.button.close-modal
    // display: flex
    position: relative
    margin-left: 38vw
    margin-top: 8vh
    padding: 10px 24px
    border-radius: 4px
    border: 1px solid #989898
    font-size: 0.8rem

    &:hover
        background-color: #000
        color: white

.button-line
    position: block
    bottom: 0
    // right: 0
    margin-right: 2.5rem
    margin-left: 2.5rem
    margin-top: 3rem
    border-top: 1px solid rgba(193, 193, 193, 0.6)



.switchable-content.active 
    background: url(https://i.ibb.co/Xj1zsgV/image-1.png) no-repeat
    background-position: right
    // background-size: contain
    background-color: #000 !important
    color: white !important

